<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/maples/index.html">home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/maples/index.html">home</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/maples/archive.html">archive</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/maples/archive.html">archive</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/maples/category.html">category</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/maples/category.html">category</a>
				</li>			
			{% endif %}
			{% if page.path == "about.md" %}
			<span class="title">
				<li>
					<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a>
				</li>			
			{% endif %}
			<span class="title">
				<li>
					<a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS">
						<img width="19px" height="19px" src="{{ '/images/rss.svg' | prepend: site.baseurl }}"/>
					</a>
				</li>
			</span>
		</div>
		<div class="description">
			♫ 剣崎梨々花の<span id="headright">オーボエ練習曲</span>
		</div>
		<div class="description2">
			{{ site.description }}
		</div>
	</div>
</header>
